
.header .img-logo {
  background-image: url("./../docs/logo/logo.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart {
  display: block;
  width: 100%;
  box-shadow: 0px 0px 8px #dfdfdf;
  transition: all linear .12s;
  cursor: pointer;
  overflow: hidden;
}

.cart:hover {
  box-shadow: 4px 4px 8px #ddd;
}

.card-img {
  width: 100%;
  padding-top: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #efefef;
  background-color: #fff;
}

.card-content {
  /* background-color: #00000008; */
  background-color: #fff;
}

.card-name {
  display: -webkit-box;        
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;            
  text-overflow: ellipsis;
  height: 70px;
}

.rating {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 1;
}

.back-stars {
  color: #ccc;
}

.front-stars {
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
}


/* css slider */
.carousel {
  max-height: calc(80vh - var(--height-header));
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
}

.carousel-list {

}

.carousel-item {
  position: absolute;
  width: 100%;
  background-size: cover;
  transform: translateY(-70%);
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  background-position: 50% 50%;
  transition: clip-path 1s ease, opacity 1s ease;
  opacity: 1;
}

.carousel-item:nth-child(1), .carousel-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.carousel-item:nth-child(n + 3) {
  transform: translate(0, 0);
  opacity: 0;
  transition: .25s;

}

.carousel-item:nth-child(n + 3) .content {
  display: none;
}

.carousel-item:nth-child(1) {
  opacity: 0;
  transition: clip-path 1s ease, opacity 1s ease;

}

.carousel-item:nth-child(1) .content {
  display: none;
}

.carousel-item:nth-child(2) .content {
  display: block;
}

.carousel-item .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;

}

.carousel-item .content .title {
  text-transform: uppercase;
  color: rgb(var(--primary-color));
  font-weight: bold;
  line-height: 1;
  text-shadow: 0px 0px 2px #eee;

  opacity: 0;
  animation: showContent 1s ease-in-out .2s 1 forwards;
}

.carousel-item .content .name {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
  margin-top: 6px;

  opacity: 0;
  animation: showContent 1s ease-in-out .6s 1 forwards;
}

.carousel-item .content .desc {
  margin-top: 8px;
  margin-bottom: 14px;

  opacity: 0;
  animation: showContent 1s ease-in-out .8s 1 forwards;
}

.carousel-item .content .btn {
  opacity: 0;
  animation: showContent 1s ease-in-out 1s 1 forwards;
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translate(0, 100);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  gap: 10px;
  align-items: center;

}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  color: #eee;
  font-size: 26px;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;

}

.arrows button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-color: white;
}

.prev {
  display: flex;
  align-items: center;
  justify-content: center;

}

.prev::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 13px solid #eee;
  margin-right: 11px;
}

.prev:hover::after {
  border-color: transparent white transparent transparent;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;

}

.next::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-left: 13px solid #eee;
  margin-left: 11px;
}

.next:hover::after {
  border-color: transparent transparent transparent white;
}

.nav-slide {
  & + & {
    margin-left: 4px;
  }
}
