
body {
  background: linear-gradient(135deg, rgba(var(--primary-color-l2), 0.8) 20%, rgba(var(--primary-color), 0.8) 100%);
}

.input {
  border-radius: 8px;
  border: 2px solid #cfcfcf;
  padding: 12px 16px;
  width: 100%;
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.input:focus label {
  
}

.input:focus {
  border: 1px solid rgb(var(--primary-color-l2));
}

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-input label {
  position: absolute;
  top: -14px;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  background-color: #fff;
  padding: 0 6px;
}

.form-input:has(input:placeholder-shown) label {
  color: #999;
}

.form-input:has(input:not(:placeholder-shown)) label {
  color: #000;
}

.form-input:has(input:focus) label {
  color: #444;
}

.message {
  
}

.button-login {
  padding-top: 14px;
  padding-bottom: 14px;
}

.sign-in-form {
  box-shadow: 0 0 6px #ccc;
  border-radius: 14px;
  padding: 12px 24px 40px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}